<div id="content">
  <div class="article" role="main">
    <%= @page.to_html(self) %>
    <section class="pages">
      <%= article_summaries(@page.pages) %>
    </section>
    <% unless @page.articles.empty? %>
      <section class="articles">
        <header>
          <h1><%= articles_heading %></h1>
        </header>
        <%= article_summaries(@page.articles) %>
      </section>
    <% end %>
    <%= haml :page_meta, :layout => false, :locals => { :page => @page } %>
  <%= haml :comments, :layout => false %>
</div>
